---
import { Image } from 'astro:assets';

import Layout from '../layouts/AZ.astro';
import NavBar from '../components/Navbar.astro';
import TitleBar from '../components/TitleBar.astro'


import heroImg from '../assets/seki-hero.jpg';
import serconImg from '../assets/sercon.jpg';

const pageTitle = "Loans"; 

---

<Layout title={pageTitle}>
<TitleBar/>
<img src={heroImg.src} class="img-fluid" alt="Responsive image">    
<div class="container">
<NavBar/>

    
    <div class="row">

                <h2>Donate</h2>

    </div>

    <div class="row">

        <p>This endowment plays a vital role in ensuring unique and irreplaceable tree-ring specimens are 
            protected and available for the next generations both regionally, nationally, and internationally. 
            Endowment funds will initially be used to help support the Tree-Ring Archive’s ongoing program of 
            experiential learning for undergraduate students who gain hands-on training and experience in museum 
            standard archival and curation practices, while assisting with the ongoing survey, cataloging, rehousing,
            preservation, and access to wood specimens already housed within the repository.</p>

            <p><a href="https://give.uafoundation.org/page.aspx?pid=948&id=1d09800a-a889-4aa1-b562-1c577da0ce71" type="button" class="btn btn-red" style="margin : 10px; font-weight : 900">Contribute to the endowment</a></p>
        <p>This endowment is named in honor of Rex Adams, long-time friend and colleague at the Laboratory of 
            Tree-Ring Research. Although Rex is now enjoying his well-earned retirement, he continues to provide 
            support to archiving and outreach activities at the lab.  Rex has been an integral part to decades of 
            field sampling, laboratory procedures, scientific analyses and publication over three decades. 
            his career, he played increasingly vital and visible roles in laboratory instruction and training 
            others in dendrochronology, leading outreach initiatives and organizing the large permanent archive 
            collection of dendrochronological wood samples from across the globe. In 2016, Rex was awarded the 
            Richard L. Holmes Award for Outstanding Service to Dendrochronology for his decades of training and 
            educating countless individuals from international visiting scholars to local school children.  </p>

        <p>The endowment was made possible by the generous donation of an anonymous scholar who recognized the 
            importance of this archive. Support of this endowment also assists with the ongoing survey, 
            cataloging, rehousing, preservation, and access to wood specimens already housed within the repository.</p>

        <h5>Donors</h5>
        <p>With many thanks to our donors including: Soo-Hyun Baek; Julio L. Betancourt; Teresa A. Betancourt; 
            Robert L. Bingham; Theresa R. Bingham; Robin M. Blackwood; Stephen E. Wilson; Kevin E. Bonine; 
            Angela Urbon Bonine; Teresita David; Jon L. David; M. J. Demetras; John Umbrei; Linda S. Dobbyn; 
            David M. Meko; Dominique Dominguez; Mark Edmondson; Margaret E. Evancho; Emily J. Herrell; Donald A. Falk; 
            Emilia A. Falk; Chris Guiterman; Emily Heyerdahl; Beth Hickey; Katherine K. Hirschboeck; Robert A. Maddox; 
            Jennifer L. Holland; Susan M. Kaleita; John D. Moeller; Deborah L. Kessler; Daniel B. Kessler; Ann Lynch; 
            Prof. Thomas Meixner; Kathleen A. Meixner; Syver W. More; Judith A. More; Pamela J. Pelletier; 
            Cecelia A. Perez; Jose C. Perez; Stephanie N. Schock; Randall S. Smith; Gudrun M. Godare; Charles M. Snell; 
            Scott St George; Lisa L. Taiz; Cheryl K. Tomoeda; Leeann J. Wieser; Paul W. Wieser; Erika K. Wise; 
            Prof. Connie A. Woodhouse; Yunbei Xu; as well as numerous anonymous donors. We would also like to thank 
            the Sarah B. Smallhouse Advised Fund held at the Community Foundation for Southern Arizona.</p>


    </div>


</Layout>
