---
import { Image } from 'astro:assets';

---
<div class="container">
    <h1 style="font-weight : 800">TIME Lab</h1>
    <h6 >Tree Ring Innovations in Mass Spectrometry for Earth Systems</h6>
</div>